
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-image: url("../imgs/subtle.jpg");
  background-size:cover;
}

html {
  position: relative;
  min-height: 100%;
}

main {
  margin: 80px 0;
}


.block {
  background-color:#dfdce3;

  padding: 30px;
  margin-bottom: 30px;
}

.block-header {
  color:rgb(104, 75, 104);
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}


#logo {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  font-weight: bold;
  color:wheat;
background:rgb(104, 75, 104);
padding:10px;
}


.navbar {
  background: white;
  border: none;
}

@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
  }
}

.connect-header {
  font-size: 25px;
}

.connect-photo {
  width: 55px;
  height: 55px;
}

#images {
  padding-top: 15px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #666;
}

.text-muted-footer {
  margin-top: 15px;
  color: rgb(104, 75, 104);
}

.two-toned-footer-color {
  height: 6px;
  padding-top: 3px;
  background-color:rgb(104, 75, 104);
}

.about-me-header {
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
  font-weight: bold;
  
}

#about-image {
  float: left;
  width: 200px;
  margin: 0 20px 10px 0;
}
.col-md-8{
  margin:auto;
}
.col-md-10{
  margin:auto;
}
.port-image {
  margin: 20px auto;
  width:300px;
  height:200px;
}
.boxlabel {
  position: relative;
  bottom: 71px;
  width: 300px;
  height: 59px;
  text-align: center;
  font-size: 22px;
  color: #ffffff;
  background-color: #c0b283;
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin: 0;
}
.link{
  color:rgb(104, 75, 104);
}
#solo{
  color:rgb(104,75,104);
  font-size:22px;
margin:auto;
text-align: center;
}
.form-control {
  border-radius: 0;
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color:#c0b283;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}

